
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 90vh;
  background-color: azure;
  border: 2px solid black;
  

}
.main{
  display: flex;
  gap: 3vh;
  justify-content: center;
  align-items: center;
}
.formContainer{
  width: 40vw;
  height: 70vh;
  border:2px solid black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#485665;
  box-shadow: 51px 27px 68px -46px #485665;
  border-radius: 20px;
  
}
.form-input {
  width: 90%;
  font-size: 20px;
  height: 8vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color:azure;
  color: black;
  border: none;
}
.btn-submit{
  width: 90%;
  height: 8vh;
  font-size: 20px;
  border-radius: 10px;
  background-color:rgb(72, 86, 101);
  color:white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-submit:hover{
  background-color:rgb(72, 86, 101,0.7);
  color: wheat;
}
.alert{

  width: 90%;
  font-size: 2rem;
  height: 8vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgb(17, 77, 9 );
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
.usersContainer{
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  border: 2px solid black;
}

.users{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 3vh;
  flex-wrap: wrap;
}

.user{
  font-size: 20px;
  color:#485665;
  width: 20vw;
  height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #485665;
  overflow-x: scroll;

}
.actions{
  display: flex;
  gap: 3vh;
  justify-content: space-between;
}
.update{
  width:8vw;
  height: 5vh;
  cursor: pointer;
  color: #485665;
  margin-top: 2vh;
}
.delete{
  margin-top: 2vh;
  width:8vw;
  height: 5vh;
  cursor: pointer;
  color: #485665;
}